# Gradle build & compiled outputs
.gradle/
build/
bin/

# IDE files
.idea/
.vscode/
*.iml
*.ipr
*.iws

# Minecraft Run directories & world test saves
run/
run-*/
run_*
*.log
*.lock

# Unzipped assets & setup folders
kamish-dagger-1-20-1-e1560/
setup.bat

# Helper Scripts & Generator Tools (Excluded from Repo)
copy_kamish.*
copy_map_to_resources.*
dont_lie_flowchart.*
find_mansion_region.*
fix_textures.*
generate_textures.*
medieval_recolor_clean.*
recolor_medieval.*
run_both.*
install_kamish.*
medieval_recolor.*
restore_kamish.*
parse_level.*
scan_mca_blocks.*
*.js
*.py
*.zip
*.pyc
__pycache__/
